@font-face {
    font-family: "Neue Metana";
    src: url(/assets/fonts/NeueMetana-Regular.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Neue Metana";
    src: url(/assets/fonts/NeueMetana-Regular.otf);
    font-weight: 700;
    font-style: normal;
}
